// about company
section.about-company
  .about-company__container
    h1.about-company__title О компании
    p.about-company__text Основанная в 1998 году компания ReephosChemicalCo., Ltd. (РифосКемикалКо., Лтд.) расположена в живописном приморском городе Lianyngang (Ляньюнган) провинцииJiangsu (Джянсу) на восточном побережье Китая. Отсюда очень удобно отгружать товары морским, железнодорожным и авиа транспортом.

    p.about-company__text Свое второе рождение компания пережила в 2002 году, когда создала с южно-корейской  фирмой SDBNIсовместное предприятиеSDBNI (CN) Co., Ltd. по производству высококачественных пищевых кальциевых, калиевых, натриевых фосфатов и их композиционных смесей. Южно-корейская сторона поставила передовую технологию и современное оборудование, а китайская обеспечила новое производство сырьем, энергоресурсами и рабочей силой. В настоящее время ReephosChemical владеет 70% акций совместного предприятия и с полным правом рассматривает его как свою основную производственную площадку.

    p.about-company__text С целью снижения себестоимости продукции компания в 2009 году организовала филиал ReephosDeanChemicalCo., Ltd. на юго-востоке Китая в районе расположения крупнейшего в стране фосфатного месторождения. В 2011 году было образовано  ReephosPharm. Co., Ltd. – предприятие по производству особо чистых фосфатов и минералов (кальция, магния, железа и цинка) для фармацевтических целей. Таким образом образовался холдинг ReephosGroup, состоящий из нескольких производственных и сбытовых компаний, основной из которых остается ReephosChemicalCo., Ltd. с ее высокотехнологичным производственным комплексомBNI (CN) Co., Ltd. Фосфаты здесь изготавливаются в строгом соответствии с Кодексом Пищевой Химии FCC. Производство сертифицировано по ISO 22000, GMP, ISO9001, ISO 14000, имеет сертификаты KOSHER и HALAL.

    p.about-company__text Отличительной особенностью нашей компании является ее мощное научно-исследовательское подразделение, занимающееся разработкой и запуском в производство новых фосфатов на основе индивидуальных пожеланий клиентов. Так за последние несколько лет ReephosChemical сумела воспроизвести и выпустить на рынок целый ряд считавшихся уникальными фосфатов нескольких именитых мировых производителей. В итоге, потребители получили аналоги сложных европейских «чудо-фосфатов» того же качества, но значительно более дешевых.

    p.about-company__text Значительную часть своей продукции ReephosChemical экспортирует в США, Японию, Южную Корею, Австралию и в Европу. В Россиимы также имеем сеть дистрибьютеров.
