// main navigation
nav.main-nav
  .main-nav__container
    ul.main-nav__list
      li.main-nav__item: a(href="about.html") О компании
      li.main-nav__item: a(href="phosphate.html") Виды фосфатов
      li.main-nav__item: a(href="application-area.html") Области применения
      li.main-nav__item: a(href="contact.html") Контакты
      li.main-nav__item: a(href="order.html") Сделать заказ
