// promo
section.promo__wrapper
  #promo-carousel.owl-carousel.owl-theme.promo__carousel
    .item.promo
      .promo__container
        h1.promo__title Фосфаты используются <br> в хлебопекарной <br> промышленности
        a.btn.promo__btn(href="phosphate-meat.html") Подробнее о продукции
    .item.promo
      .promo__container
        h1.promo__title Фосфаты используются <br> в хлебопекарной <br> промышленности
        a.btn.promo__btn(href="phosphate-meat.html") Подробнее о продукции
    .item.promo
      .promo__container
        h1.promo__title Фосфаты используются <br> в хлебопекарной <br> промышленности
        a.btn.promo__btn(href="phosphate-meat.html") Подробнее о продукции
  .carousel__container
    button.carousel__prev
    button.carousel__next
