// contact
section.contact#map-canvas
.contact__container
  ul.contact__list
    li.contact__item
      h2.contact__item-title Телефон
      p.contact__item-text.contact__item-text--phone #[a(href="tel:74956041400") +7 (495) 604-14-00]
    li.contact__item
      h2.contact__item-title Email
      p.contact__item-text.contact__item-text--email #[a(href="mailto:sales@reephos.ru0") sales@reephos.ru]
