// production
section.production
  .production__container
    h2.production__title Производство
    p.production__text Для нас очень важно производить качественные фосфаты, которые помогают нашим клиентам производить качественный продукт.
  #production-carousel.production-carousel
    .production-carousel__item: img(src="images/production__image1@2x.jpg", alt="")
    .production-carousel__item: img(src="images/production__image1@2x.jpg", alt="")
    .production-carousel__item: img(src="images/production__image1@2x.jpg", alt="")
  .carousel__container
    button.carousel__prev
    button.carousel__next
