// about-promo
section.about-promo
  .about-promo__container
    .about-promo__image
      img(src="images/about__short-text@2x.jpg", alt="Reephos", width="457", height="333")
    .about-promo__content
      h2.about-promo__title Reephos Chemical
      p.about-promo__text За 15 лет своего существования компания Reephos Chemical превратилась в эксперта и ведущего производителя фосфатов для мясной, хлебопекарной, кондитерской, косметической, фармацевтической и других отраслей промышленности.
      p.about-promo__text Весь свой ассортимент мы предлагаем сегодня на рынке России и стран Таможенного союза.
      a.btn.btn--transparent.about-promo__btn(href="about.html") Подробнее о компании


