@font-face {
  font-family: "Avenir Next";
  src: url("../font/Avenir-Next.woff2") format("woff2"),
       url("../font/Avenir-Next.ttf")  format("truetype"),
       url("../font/Avenir-Next.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
