// promo-application-area
section.promo-application-area
  .promo-application-area__container
    a.promo-application-area__title(href="application-area.html") Области применения
  .promo-application-area__list
    a.promo-application-area__item.promo-application-area__item--bread(href="phosphate-meat.html", data-name="Хлебопечение и кондитерское производство")

    .promo-application-area__right-content
      a.promo-application-area__item.promo-application-area__item--sausage(href="phosphate-meat.html", data-name="Переработка мяса и птицы")

      a.promo-application-area__item.promo-application-area__item--coffee(href="phosphate-meat.html", data-name="Кофе со сливками")

      a.promo-application-area__item.promo-application-area__item--fish(href="phosphate-meat.html", data-name="Переработка рыбы и морепродуктов")

      a.promo-application-area__item.promo-application-area__item--milk(href="phosphate-meat.html", data-name="Переработка молока")

      a.promo-application-area__item.promo-application-area__item--chocolate(href="phosphate-meat.html", data-name="Переработка кондитерских изделий")

      a.promo-application-area__item.promo-application-area__item--vegetables(href="phosphate-meat.html", data-name="Переработка овощей")
