// product-table
section.product-table
  .product-table__container
    h1.product-table__title Фосфаты для переработки рыбы и <br>морепродуктов
    table.product-table__table
      thead
        tr.product-table__tr
          td.product-table__td.product-table__td--number №
          td.product-table__td.product-table__td--name Наименование фасфата
          td.product-table__td.product-table__td--abbreviation Аббревиатура
          td.product-table__td.product-table__td--face Внешний вид
          td.product-table__td.product-table__td--standart Стандарт
          td.product-table__td.product-table__td--main-application Основное применение
          td.product-table__td.product-table__td--dosage Дозировка
      tbody
        tr.product-table__tr
          td.product-table__td.product-table__td--number 2.1
          td.product-table__td.product-table__td--name Трифолифосфат натрия
          td.product-table__td.product-table__td--abbreviation STPP
          td.product-table__td.product-table__td--face Гранулы
          td.product-table__td.product-table__td--standart FCC
          td.product-table__td.product-table__td--main-application Используеться для приготовления рассола для рыбы.
          td.product-table__td.product-table__td--dosage 0.3% - 0.5%

        tr.product-table__tr
          td.product-table__td.product-table__td--number 2.2
          td.product-table__td.product-table__td--name Трифолифосфат калия
          td.product-table__td.product-table__td--abbreviation KTPP
          td.product-table__td.product-table__td--face Порошок или гранулы
          td.product-table__td.product-table__td--standart FCC
          td.product-table__td.product-table__td--main-application Используеться для приготовления рассола для креветок и гребешков.
          td.product-table__td.product-table__td--dosage 0.2% - 0.4%

        tr.product-table__tr
          td.product-table__td.product-table__td--number 2.3
          td.product-table__td.product-table__td--name Гексаметафосфат натрия
          td.product-table__td.product-table__td--abbreviation SHMP
          td.product-table__td.product-table__td--face Порошок
          td.product-table__td.product-table__td--standart FCC
          td.product-table__td.product-table__td--main-application Стабилизирует цвет при приготовлении консервов из рыбы и морепродуктов.
          td.product-table__td.product-table__td--dosage 0.2% - 0.25%

        tr.product-table__tr
          td.product-table__td.product-table__td--number 2.4
          td.product-table__td.product-table__td--name Polymix 305
          td.product-table__td.product-table__td--abbreviation Polymix 305
          td.product-table__td.product-table__td--face Порошок
          td.product-table__td.product-table__td--standart Пищевой
          td.product-table__td.product-table__td--main-application Применяется при засоле рыбы. Не катализируется в растворе.
          td.product-table__td.product-table__td--dosage 0.25% - 0.5%

        tr.product-table__tr
          td.product-table__td.product-table__td--number 2.5
          td.product-table__td.product-table__td--name Polymix 822
          td.product-table__td.product-table__td--abbreviation Polymix 822
          td.product-table__td.product-table__td--face Порошок
          td.product-table__td.product-table__td--standart Пищевой
          td.product-table__td.product-table__td--main-application Применяется при засоле рыбы. Не катализируется в растворе.
          td.product-table__td.product-table__td--dosage 0.25% - 0.4%

        tr.product-table__tr
          td.product-table__td.product-table__td--number 2.6
          td.product-table__td.product-table__td--name Polymix 2110
          td.product-table__td.product-table__td--abbreviation Polymix 2110
          td.product-table__td.product-table__td--face Порошок
          td.product-table__td.product-table__td--standart Пищевой
          td.product-table__td.product-table__td--main-application Используется при копчении рыбы. Сокращает потери массы, улучшает вкусовые качества.
          td.product-table__td.product-table__td--dosage 0.25% - 0.3%

    .product-table__pagination
      a.product-table__prev(href="#")
      span.product-table__text Области применения
      a.product-table__next(href="#")
