// application-area
section.application-area
  .application-area__container
    h1.application-area__title Области применения
    ul.application-area__list
      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для переработки мяса и птицы")
          .application-area__image.application-area__image--meat
            img(src="images/application-area__image--meat@2x.jpg", alt="Фосфаты для переработки мяса и птицы", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для переработки рыбы и морепродуктов")
          .application-area__image.application-area__image--fish
            img(src="images/application-area__image--fish@2x.jpg", alt="Фосфаты для переработки рыбы и морепродуктов", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для хлебопечения и кондитерского производства")
          .application-area__image.application-area__image--bread
            img(src="images/application-area__image--bread@2x.jpg", alt="Фосфаты для хлебопечения и кондитерского производства", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для напитков")
          .application-area__image.application-area__image--juice
            img(src="images/application-area__image--juice@2x.jpg", alt="Фосфаты для напитков", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для переработки молока")
          .application-area__image.application-area__image--milk
            img(src="images/application-area__image--milk@2x.jpg", alt="Фосфаты для переработки молока", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для минерального обогащения")
          .application-area__image.application-area__image--mineral
            img(src="images/application-area__image--mineral@2x.jpg", alt="Фосфаты для минерального обогащения", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для производства макарон и лапши")
          .application-area__image.application-area__image--pasta
            img(src="images/application-area__image--pasta@2x.jpg", alt="Фосфаты для производства макарон и лапши", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для переработки овощей")
          .application-area__image.application-area__image--vegetables
            img(src="images/application-area__image--vegetables@2x.jpg", alt="Фосфаты для переработки овощей", width="262", height="224")

      li.application-area__item
        a.application-area__link(href="phosphate-meat.html", data-name="Фосфаты для обработки воды")
          .application-area__image.application-area__image--water
            img(src="images/application-area__image--water@2x.jpg", alt="Фосфаты для обработки воды", width="262", height="224")
