doctype html
html(lang="ru")
  - title = "Мононатрий фосфат Monosodium Phosphate, MSP"
  include blocks/head/head

  body
    <!--[if IE 8]>
    p Вы используете #[strong устаревшую версию] браузера. Пожалуйста, #[a(href="http://browsehappy.com/") обновите браузер] на официальном сайте, чтобы просматривать полную версию сайта.
    <![endif]-->

    include blocks/header/header
    include blocks/main-navigation/main-navigation
    include blocks/product/product
    include blocks/footer/footer
    include blocks/js-script/js-script
