// phosphate
section.phosphate
  .phosphate__container
    h1.phosphate__title Мы производим целую гамму фосфатов
    .phosphate__wrapper
      .phosphate__wrapper--left
        .phosphate-item
          h2.phosphate-item__title.phosphate-item__title--cp Композиционные фосфаты
          ul.phosphate-item__list
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Алюмофосфат натрия, SALP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Натриево-калиевый триполифосфат, SKTPP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Polymix 305
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Polymix 882
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Polymix 2110

        .phosphate-item
          h2.phosphate-item__title.phosphate-item__title--ca Фосфаты кальция
          ul.phosphate-item__list
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Монокальций фосфат, MCP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Дикальций фосфат, DCP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Трикальций фосфат, TCP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Дикальций пирофосфат, DCPP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Кислый пирофосфат кальция, CAPP

        .phosphate-item
          h2.phosphate-item__title.phosphate-item__title--mg Фосфаты магния
          ul.phosphate-item__list
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Димагний фосфат
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Тримагний фосфат

      .phosphate__wrapper--right
        .phosphate-item
          h2.phosphate-item__title.phosphate-item__title--na Фосфаты натрия
          ul.phosphate-item__list
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Мононатрий фосфат, MSP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Динатрий фосфат, DSP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Тринатрий фосфат, TSP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Тетранатрий пирофосфат, TSPP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Триполифосфат натрия, STPP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Кислый пирофосфат натрия, SAPP15/ SAPP28/ SAPP40
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Триметафосфат натрия, STMP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Гексаметафосфат натрия, SHMP

        .phosphate-item
          h2.phosphate-item__title.phosphate-item__title--k Фосфаты калия
          ul.phosphate-item__list
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Монокалий фосфат, MKP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Дикалий фосфат, DKP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Трикалий фосфат, TKP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Тетракалий пирофосфат, TKPP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Триполифосфат калия, KTPP
            li.phosphate-item__item: a.phosphate-item__text(href="product.html") Метафосфат калия, KMP
