// phosphate
.phosphate {
  padding-top: 19px;
  padding-bottom: 35px;

  &__container {
    @include container;
  }

  &__title {
    font-size: $font-size-primary;
    color: $color-secondary;
    text-align: center;
  }

  &__wrapper {
    @include flex;
    padding-top: 4px;
  }
}

.phosphate-item {
  width: 460px;
  margin-bottom: 27px;
  padding: 15px 30px 31px 28px;
  @include marked-border;

  &__title {
    font-size: $font-size-secondary;
    color: #131313;
    padding-top: 95px;
    padding-bottom: 4px;
    position: relative;

    &--ca:before,
    &--mg:before,
    &--na:before,
    &--k:before {
      position: absolute;
      top: 8px;
      left: -3px;
      font-size: 66px;
      font-family: "Arial", "Helvetica", sans-serif;
      color: $color-main;
    }

    &--cp:before {
      content: "";
      position: absolute;
      top: 8px;
      left: -3px;
      width: 115px;
      height: 67px;
      background: url(../images/compose-phosphat@1x.png) no-repeat center;
      background-size: cover;

      @include retina {
        background: url(../images/compose-phosphat@2x.png) no-repeat center;
        background-size: cover;
      }
    }

    &--ca:before {
      content: "Ca";
    }

    &--mg:before {
      content: "Mg";
    }
    &--na:before {
      content: "Na";
    }
    &--k:before {
      content: "K";
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 9px 0;
    border-bottom: 1px solid #e7e7e7;

    &:last-child {
      border: none;
    }
  }

  &__text {
    font-size: $font-size-third;
    line-height: 27px;
    color: $color-secondary;
  }
}
