// header
header.header
  .header__container
    a.header__logo(href="index.html")
      img(src="images/logo@2x.png", alt="Reephos", width="167", height="44")
      b.header__text Reephos Chemical Co.,Ltd
    .header__contact
      a.header__phone(href="tel:74956041400") +7 495 604 14 00
      a.header__email(href="mailto:sales@reephos.ru") sales@reephos.ru
    ul.header__language-list
      li.header__item: a.active(href="#") Ru
      li.header__item: a(href="#") En
      li.header__item: a(href="#") Ch
