// header
.header {
  padding-top: 16px;
  padding-bottom: 9px;
  font-size: 1.15em;
  background-color: #fff;

  &__container {
    @include container;
    @include flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 387px;
    margin-right: 87px;

    img {
      margin-right: 13px;
    }

    .header__text {
      color: #0d2392;
    }
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
  }

  &__phone {
    color: $color-secondary;
    padding-left: 17px;
    margin-right: 22px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36.184' height='61.15' viewBox='0 0 361.844 611.5' fill='silver'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill-rule:evenodd}%3C/style%3E%3C/defs%3E%3Cpath id='icon--phone' class='cls-1' d='M307.167.5H57.834C25.76.5 1.167 25.093 1.167 57.167v498.666c0 32.073 24.593 56.667 56.667 56.667h249.333c32.084 0 56.666-24.594 56.666-56.667V57.167C363.833 25.093 339.24.5 307.167.5zM318.5 555.833c0 7.027-4.306 11.334-11.333 11.334H57.834c-7.027 0-11.333-4.307-11.333-11.334v-79.345l272 .012v79.333zm0-124.678h-272V136.511h272v294.644zm0-339.977l-272-.011v-34c0-7.026 4.307-11.333 11.334-11.333h249.333c7.027 0 11.333 4.307 11.333 11.333v34.011zM182.5 544.5a22.667 22.667 0 1 0-22.666-22.667A22.661 22.661 0 0 0 182.5 544.5z' transform='translate(-1.156 -.5)'/%3E%3C/svg%3E");
      background-size: cover;
    }
  }

  &__email {
    padding-left: 22px;
    position: relative;
    color: #131313;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 11px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61.15' height='45.9' viewBox='0 0 611.5 459' fill='silver'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill-rule:evenodd}%3C/style%3E%3C/defs%3E%3Cpath id='Forma_1' data-name='Forma 1' class='cls-1' d='M.5 0v459h612V0H.5zm548.594 51.357L306.5 249.568 63.919 51.357h485.175zM51.143 108.248l144.878 121.239L51.143 357.408v-249.16zM73.2 407.643l164.182-147.211 69.118 51.726 69.118-51.726L539.8 407.643H73.2zm488.656-50.235L416.978 229.487l144.879-121.239v249.16z' transform='translate(-.5)'/%3E%3C/svg%3E");
      background-size: cover;
    }
  }

  &__language-list {
    @include flex;
    flex-wrap: wrap;
    list-style: none;
    width: 115px;
    margin-top: -8px;
  }

  &__item {
    margin: 2px 0;

    a {
      padding: 6px 7px;
      font-size: 12px;
      color: $color-grey;
      border: 2px solid $color-grey;
      text-transform: uppercase;

      &:hover,
      &.active {
        color: $color-secondary;
        border-color: $color-secondary;
      }
    }
  }
}
