// clients
section.clients.about-us__clients
  .clients__container
    h2.clients__title Наши постоянные клиенты
    p.clients__text Мы работаем с самыми крупными компаниями в хлебопекарной, мясопереробатовающей, косметической промышленностях.
    ul.clients__list
      li.clients__item(data-name="Генеральные колбасы"): img(src="images/client--gk@2x.png", alt="Генеральские колбасы", width="156", height="118")
      li.clients__item(data-name="Avianca"): img(src="images/client--avianca@2x.png", alt="Avianca", width="176", height="49")
      li.clients__item(data-name="Melitta"): img(src="images/client--melitta@2x.png", alt="Melitta", width="156", height="85")
      li.clients__item(data-name="Avianca"): img(src="images/client--avianca@2x.png", alt="Avianca", width="176", height="49")
      li.clients__item(data-name="Acme"): img(src="images/client--acme@2x.png", alt="Acme", width="190", height="37")
      li.clients__item(data-name="Sara Lee"): img(src="images/client--sara-lee@2x.png", alt="Sara Lee", width="166", height="103")
      li.clients__item(data-name="Роснефть"): img(src="images/client--rosneft@2x.png", alt="Роснефть", width="207", height="116")
      li.clients__item(data-name="Останкино"): img(src="images/client--ostankino@2x.png", alt="Останкино", width="191", height="56")
