// product
section.product
  .product__container
    h1.product__title Мононатрий фосфат Monosodium Phosphate, MSP
    .product__wrapper
      .product__content
        p.product__text Отличительной особенностью нашей компании является ее мощная научно-исследователькое подразделение, занимающееся разработкой и запуском в производство новых фосфатов на основе индивидуальных пожеланий клиентов.
        p.product__text Отличительной особенностью нашей компании является ее мощная научно-исследователькое подразделение, занимающееся разработкой и запуском в производство новых фосфатов на основе индивидуальных пожеланий клиентов.
        p.product__text Отличительной особенностью нашей компании является ее мощная научно-исследователькое подразделение, занимающееся разработкой и запуском в производство новых фосфатов на основе индивидуальных пожеланий клиентов.
        a.btn.product__btn(href="order.html") Заказать
      .product__image
        img(src="images/product__image--phosphate@2x.jpg", alt="", width="262", height="243")
